git:
  depth: 1
language: node_js
node_js:
- 5
cache:
  directories:
  - node_modules
before_script:
- npm install -g npm
- npm install -g gulp-cli
- npm install -g casperjs
- chmod +x ./deploy-website.sh
script: "./deploy-website.sh"
notifications:
  slack:
    secure: pqvNLWxm2WFu8GHNNHEJ13TDzrUntk6j4zv/XLysKzDxrbtxIX8mWP15IhTIaTD8zJpDbixbi4gd/RvZklBs9UjJ5e59BHz8lxfaw/U9hxePgi7FmRrq0vssquv45ihvZX+JTTMMSTNLRoc/J4ewECBtMjfGkgWzkw5HgUVokq/82AOroDpUhXdjzEJKkVkzYQGJQjd4eZipnf66sp43ToUDkhrA1q38orIGZ/4sipDe8S0mIWv+Vtw7iAA1vAuyQC262XBlYmhjrz4PzKe7dInL6WNMtHr7RC15U3DS7jToouaclordrEA2QXhPaTokM/DLJO8QlsBbmFJr46oGUKu6sH+kCPS1OX24z84qpMjTpg07JhDd6muv+F1WHsSzySgUV+PiKoFWEa3wdL23C5QMg50o1sc+QWopqC7Vb6yvq6JTfO9kyqvWc7ksePm60N2WR6//sUUBNjTA5gL9IKnolE5+AgHTNCl0pKAwlkluI8w8iFkZN38A9bKeVrT8UFBSe2qorz7xZ7fYnpMWmxlEP2LqgktYPFN/M5mfIFIczjiHr7kjEEcTAm7gBSzoNgSzGj7IYFHYymoWedBEJRUrY7sBXyCrkoAP3/Qih5C0c/1ZGTZp3TPrhoZYyR3YBfwXM/rX2MENpj+4axXCWrjRszl2la3zSF2JjL73Qrc=
